{
    "name": "<%=projectName%>",
    "forwardPorts": [3000],
    "remoteUser": "node",
    "updateRemoteUserUID": false,
    "settings": {
      "terminal.integrated.profiles.linux": {
        "node bash": {
          "path": "/bin/bash"
        }
      },
      "terminal.integrated.defaultProfile.linux": "node bash",
      "debug.node.autoAttach": "disabled"
    },
    "dockerComposeFile": "./docker-compose.yml",
    "service": "node",
    "workspaceFolder": "/workspace/development/app",
    "shutdownAction": "stopCompose",
    "features": {
      "git": "os-provided",
      "git-lfs": "latest",
      "github-cli": "latest"
    },    
    "extensions": [
		"dbaeumer.vscode-eslint",
		"emeraldwalk.RunOnSave"
    ]
}